---
Language: Cpp
BasedOnStyle: LLVM

# Indentation & Line Length
IndentWidth: 4
UseTab: Never
ColumnLimit: 120

# Braces
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortInitializersOnASingleLine: false

# Const Correctness (East Const)
# Note: Requires clang-format 14 or higher
QualifierAlignment: Custom
QualifierOrder: ['type', 'const', 'volatile']

# Pointers
PointerAlignment: Middle

# Function Parameters and Calls
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeClosingParen: Always

# Whitespace
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: true
BreakBeforeBinaryOperators: All

AllowShortCaseLabelsOnASingleLine: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true       # Required for Allman-style case braces
  AfterClass: true           # Allman default
  AfterControlStatement: Always # Allman default
  AfterEnum: true            # Allman default
  AfterFunction: true        # Allman default
  AfterNamespace: true       # Allman default
  AfterObjCDeclaration: true # Allman default
  AfterStruct: true          # Allman default
  AfterUnion: true           # Allman default
  BeforeCatch: true          # Allman default
  BeforeElse: true           # Allman default

IndentCaseLabels: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeIsMainRegex: ''
IncludeCategories:
  - Regex:           '^"easy_pc/.*"'
    Priority:        10
  - Regex:           '^".*"'
    Priority:        20
  - Regex:           '^<.*[/\.].*>'
    Priority:        30
  - Regex:           '^<.*>'
    Priority:        40


